.main-heading{
    color: blue;
}

  .card-image{
    height: 200px;
  }

  .shoping-icon{
    font-size: 28px;
  }
  .card-count{
    background-color: aqua;
    // float: left;
    // height: 51px;
    // margin-bottom: 2px;
  }
  .list0-style{
    list-style: none;
  }